@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex&family=Roboto:wght@100;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assent/svg/SVG/SVG/Recurso 12.svg");
  background-repeat: repeat-y;
  background-size: 100%;
  background-color: #0C0C0D;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

.bg--nav-dark {
  background-color: #0d69b9;
}

.bg--nav--expand-dark {
  background-color: #0C0C0D;
}

.path-gradient-purple {
  background: rgb(38, 38, 38);
  background: linear-gradient(90deg, #262626 24%, #292729 39%, #332831 52%, #452b3e 64%, #5d2f51 75%, #7c346a 86%, #a23a88 96%, #b23d94 100%);
}

.card-asistencia-contenedor {
  margin: 162px 13px;
  align-content: center;
}

.card-asistencia {
  border-radius: 20px;
  box-shadow: 10px;
  box-shadow: blue;
  width: 90%;
  margin-left: 21px;
}

.card-title {
  margin-left: 20px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.card-text {
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-group {
  margin-top: 30px;
  margin-left: 40px;
}

.dropdown-toggle {
  border-radius: 2px;
}

.list-group {
  margin-bottom: 12px;
  margin-top: -120px;
  margin-left: 21px;
  width: 90%;
}

.list-group-hrs {
  margin-bottom: 232px;
  margin-top: 125px;
  margin-left: 21px;
  width: 90%;
}

.text-list-hrs {
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.margin-list-hrs {
  margin-bottom: -16px;
}

.text-span-hrs {
  margin-top: -44px;
  margin-left: 65px;
}

.list-group-item.active {
  border-color: darkmagenta;
}
