.list-group-hrs {
    margin-bottom: 232px;
    margin-top: 125px;
    margin-left: 21px;
    width: 90%;};

.text-list-hrs{
    margin-top: -10px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.margin-list-hrs{
    margin-bottom: -16px;
}
.text-span-hrs{
    margin-top: -44px;
    margin-left: 65px;}

    .list-group-item.active{
       border-color: darkmagenta;
        }